/*------ COLOR -----*/
/*------ FONT ------*/
body {
  margin: 0 auto;
  padding: 0; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.container, .col, .row {
  padding: 0;
  margin: 0 auto; }

header, section, footer {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto; }

.header {
  background: url("../img/Layer1.png") no-repeat;
  height: 704px; }
  .header nav {
    background-color: white;
    height: 90px; }
    .header nav .logo {
      float: left; }
      .header nav .logo a {
        line-height: 90px; }
        .header nav .logo a img {
          margin-top: 20px;
          height: 50px; }
    .header nav .menu {
      margin: 0;
      padding: 0;
      float: right; }
      .header nav .menu li {
        margin-left: 60px;
        display: inline; }
        .header nav .menu li a {
          color: #222;
          text-decoration: none;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 90px;
          padding-bottom: 31px;
          transition: .4s; }
      .header nav .menu li a:hover {
        color: #81ce86;
        border-bottom: 3px solid #81ce86; }
      .header nav .menu .active a {
        color: #81ce86;
        border-bottom: 2px solid #81ce86; }
      .header nav .menu .login {
        padding: 0;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 116px;
        background-color: #2c67b1;
        text-align: center;
        color: white;
        text-transform: uppercase;
        box-shadow: 0px 0px 7px -1px #2c67b1; }
  .header .container {
    height: 100%; }
    .header .container .row {
      height: 100%; }
      .header .container .row .head {
        margin-top: 195px; }
        .header .container .row .head h1 {
          width: 160px;
          margin: 0 auto;
          padding: 0;
          text-align: center;
          color: white;
          font-size: 80px;
          font-weight: 700; }
        .header .container .row .head .radius {
          margin: 0 auto;
          padding: 0;
          width: 230px;
          line-height: 44px;
          text-align: center;
          font-size: 16px;
          text-transform: uppercase;
          color: #172592;
          background-color: white;
          border-radius: 15px 0 15px 0; }
        .header .container .row .head .TECHNOLOGY {
          width: 160px;
          margin: 10px auto 0 auto;
          padding: 0;
          text-align: center;
          color: white;
          font-size: 22px;
          font-weight: 700; }
      .header .container .row .title {
        padding-top: 130px; }
        .header .container .row .title .title-item {
          height: 155px; }
          .header .container .row .title .title-item img {
            float: left; }
          .header .container .row .title .title-item .wrapper {
            width: 85%;
            float: right; }
            .header .container .row .title .title-item .wrapper h4 {
              text-align: left;
              color: white;
              font-size: 20px;
              font-weight: 600;
              text-transform: uppercase; }

.slide {
  height: 482px;
  background: url("../img/slide.png") no-repeat; }
  .slide .titles {
    padding-top: 60px;
    float: right;
    text-align: right; }
    .slide .titles h4 {
      letter-spacing: .025em;
      font-size: 25px;
      font-weight: 400;
      text-transform: uppercase; }
    .slide .titles h2 {
      letter-spacing: .1em;
      margin-top: 20px;
      font-size: 55px;
      font-weight: 900;
      text-transform: uppercase;
      color: #3c3c3c; }
    .slide .titles p {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 300;
      color: #d5d5d5; }
    .slide .titles a {
      margin-top: 40px;
      margin-left: auto;
      margin-right: 0;
      display: block;
      width: 200px;
      height: 50px;
      line-height: 50px;
      background-color: #f4213a;
      color: white;
      text-decoration: none;
      text-align: center;
      box-shadow: 0px 0px 7px -1px #f4213a; }

.function {
  background: url("../img/function/function-background.png") no-repeat;
  font-family: "Open Sans", sans-serif;
  height: 670px;
  background-color: #faf7f7; }
  .function .container {
    opacity: 1; }
    .function .container .wrapper ul {
      padding-top: 90px;
      height: 670px; }
      .function .container .wrapper ul li {
        padding-top: 25px;
        height: 160px; }
        .function .container .wrapper ul li img {
          margin-left: 14px;
          height: 24px;
          width: 24px; }
        .function .container .wrapper ul li h4 {
          font-size: 16px; }
        .function .container .wrapper ul li p {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px; }
      .function .container .wrapper ul li:hover {
        background-color: white;
        border-radius: 8px;
        cursor: pointer; }

.download {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-image: url("../img/download/Base.png");
  height: 670px; }
  .download .container .wrapper {
    margin-top: 210px;
    align-items: center;
    float: right;
    text-align: right;
    width: 450px; }
    .download .container .wrapper h2 {
      line-height: 70px;
      letter-spacing: .025em;
      font-size: 35px; }
    .download .container .wrapper p {
      line-height: 30px;
      letter-spacing: 0;
      font-size: 16px;
      color: #faf7f7; }
    .download .container .wrapper .row {
      margin-top: 60px; }

.news {
  height: 670px; }
  .news .container-fluid .row {
    display: flex;
    justify-content: space-between;
    margin-top: 80px; }
    .news .container-fluid .row .column {
      transition: .3s;
      width: 370px;
      box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.26); }
      .news .container-fluid .row .column .img {
        display: inline-block;
        width: 350px;
        height: 280px;
        overflow: hidden;
        background: #FFFFFF;
        margin: 10px;
        margin-bottom: 36px; }
      .news .container-fluid .row .column .img img {
        width: 350px;
        border: none;
        margin: 0;
        padding: 0; }
      .news .container-fluid .row .column .title {
        padding: 10px 10px 10px 10px; }
        .news .container-fluid .row .column .title span {
          line-height: 25px;
          font-size: 16px;
          font-weight: 700; }
        .news .container-fluid .row .column .title p {
          padding-top: 18px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; }
        .news .container-fluid .row .column .title .clearfix .date {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          float: left; }
        .news .container-fluid .row .column .title .clearfix .count {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          float: right; }
    .news .container-fluid .row .column:hover {
      background-color: #f4213a;
      color: white;
      cursor: pointer; }

.contact {
  height: 670px;
  font-family: "Open Sans", sans-serif;
  background: url("../img/contact/Background.png") no-repeat; }
  .contact .container .row .column {
    margin: 0 auto;
    text-align: center;
    width: 630px; }
    .contact .container .row .column .img {
      position: relative;
      top: -4px;
      margin-bottom: 65px; }
    .contact .container .row .column h2 {
      font-weight: 400;
      color: white;
      font-size: 35px;
      line-height: 50px;
      letter-spacing: .025em;
      margin-bottom: 20px; }
    .contact .container .row .column p {
      font-weight: 400;
      color: white;
      font-size: 16px;
      line-height: 30px; }
    .contact .container .row .column form {
      font-size: 15px;
      line-height: 30px; }
      .contact .container .row .column form .row-input {
        width: 630px; }
        .contact .container .row .column form .row-input input {
          display: block;
          height: 50px;
          width: 305px;
          border-radius: 6px;
          padding-left: 30px; }
        .contact .container .row .column form .row-input #email {
          float: right; }
        .contact .container .row .column form .row-input #fullname {
          float: left; }
      .contact .container .row .column form .message {
        height: 210px;
        width: 630px;
        border-radius: 6px;
        margin-top: 20px;
        padding: 30px;
        padding-top: 20px; }
      .contact .container .row .column form .button {
        margin-top: 16px; }
        .contact .container .row .column form .button .send-message {
          display: block;
          margin: 0 auto;
          line-height: 52px;
          height: 52px;
          width: 166px;
          text-transform: uppercase;
          border: 1px solid #fff;
          text-decoration: none;
          color: #fff; }

/*# sourceMappingURL=style.css.map */
