/*------ COLOR -----*/
$header-color:#5b3a29;
$menu-color:#222;
$activ-menu:#81ce86;
$button-color:#2c67b1;
$headFontColor: #172592;

/*------ FONT ------*/
$openSans:'Open Sans', sans-serif;
$light:300;
$regular:400;
$semi-bold:600;
$bold:700;
$extra-bold:800;
$slide-font-color:#3c3c3c;

body{
    margin: 0 auto;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.container, .col, .row{
    padding:0;
    margin: 0 auto;
}

header, section, footer{
    font-family: $openSans;
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    
    background: url('../img/Layer1.png')  no-repeat;
    height: 704px;

        
        nav{
            background-color: white;
            height: 90px;
            .logo {
                float: left;
                a{
                    line-height: 90px;
                    img{
                        margin-top: 20px;
                        height: 50px;
                    }
                }
            }
            .menu{
                margin: 0;
                padding: 0;
                float: right;
                li{
                    margin-left: 60px;
                    display: inline;
                    a{
                        color: $menu-color;
                        text-decoration: none;
                        font-family: $openSans;
                        font-size: 15px;
                        font-weight: $regular;
                        line-height: 90px;
                        padding-bottom: 31px;
                        transition: .4s;
                    }
                }
                li a:hover{
                    color: $activ-menu;
                        border-bottom: 3px solid $activ-menu;
                }
                .active{
                    a{
                        color: $activ-menu;
                        border-bottom: 2px solid $activ-menu;
                    }
                }
                .login {
                    padding: 0;
                    display: inline-block;
                    height: 40px;
                    line-height: 40px;
                    width: 116px;
                    background-color: $button-color;
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    box-shadow: 0px 0px 7px -1px #2c67b1;
                }
            }
        }
        .container{
            height: 100%;
           .row{
            height: 100%;
            .head{
                margin-top: 195px;
                h1{
                    width: 160px;
                    margin: 0 auto;
                    padding: 0;
                    text-align: center;
                    color: white;
                    font-size: 80px;
                    font-weight: 700;
                }
                .radius{
                    margin: 0 auto;
                    padding: 0;
                    width: 230px;
                    line-height: 44px;
                    text-align: center;
                    font-size: 16px;
                    text-transform: uppercase;
                    color:$headFontColor;
                    background-color: white;
                    border-radius: 15px 0 15px 0;
                }
                .TECHNOLOGY{
                    width: 160px;
                    margin: 10px auto 0 auto;
                    padding: 0;
                    text-align: center;
                    color: white;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
            .title{
                padding-top: 130px;
                .title-item{
                    height: 155px;
                    img{
                        float: left;
                    }
                    .wrapper{
                        width: 85%;
                        float: right;
                        h4{
                            text-align: left;
                            color:white;
                            font-size: 20px;
                            font-weight: $semi-bold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
           }
        }
    
}
.slide{
    height: 482px;
    background: url('../img/slide.png')  no-repeat;
    .titles{
        padding-top: 60px;
        float: right;
        text-align: right;
        h4{
            letter-spacing: .025em;
            font-size: 25px;
            font-weight: $regular;
            text-transform: uppercase;
        }
        h2{
            letter-spacing: .1em;
            margin-top: 20px;
            font-size: 55px;
            font-weight: 900;
            text-transform: uppercase;
            color:$slide-font-color;
        }
        p{
            margin-top: 30px;
            font-size: 16px;
            font-weight: $light;
            color: #d5d5d5;
        }
        a{
            margin-top: 40px;
            margin-left: auto;
            margin-right: 0;
            display: block;
            width: 200px;
            height: 50px;
            line-height: 50px;
            background-color: #f4213a;
            color:white;
            text-decoration: none;
            text-align: center;
            box-shadow: 0px 0px 7px -1px #f4213a;
        }
    }
}
.function{
    background:  url("../img/function/function-background.png") no-repeat ;
    font-family: $openSans;
    height:670px;
    background-color:#faf7f7;
    .container{
        opacity: 1;
        .wrapper{
            ul{
                padding-top: 90px;
                height: 670px;
                li{
                    padding-top: 25px;
                    height: 160px;
                    img{
                        margin-left: 14px;
                        height: 24px;
                        width: 24px;
                    }
                    h4{
                        font-size: 16px;
                    }
                    p{
                        font-weight: $regular;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                li:hover{
                    background-color: white;
                    border-radius: 8px;
                    cursor: pointer;
                }
                
            }
        }
    }
}
.download{
    font-family: $openSans;
    color:white;
    background-image: url("../img/download/Base.png");
    height: 670px;
   .container{
    .wrapper{
        margin-top: 210px;
        align-items: center;
        float: right;
        text-align: right;
        width: 450px;
         h2{
             line-height: 70px;
             letter-spacing: .025em;
             font-size: 35px;
         }
         p{
             line-height: 30px;
             letter-spacing: 0;
             font-size: 16px;
             color:#faf7f7;
         }
         .row{
             margin-top:60px;
         }
    }
   }
}
.news{
    height: 670px;
    .container-fluid{
        .row{ display: flex;
            justify-content: space-between;
            margin-top: 80px;
            .column{
                    transition: .3s;
                    width: 370px;
                     box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.26);
                     .img {
                        display: inline-block;
                        width: 350px;
                        height: 280px;
                        overflow: hidden;
                        background: #FFFFFF;
                        margin: 10px;
                        margin-bottom: 36px;
                      }
                      .img img {
                        width: 350px;
                        border: none;   
                        margin: 0;
                        padding: 0;
                      }
                    .title{
                        padding: 10px 10px 10px 10px;
                        span{
                            line-height: 25px;
                            font-size: 16px;
                            font-weight: $bold;
                        }
                        p{
                            padding-top: 18px;
                            font-size: 14px;
                            font-weight: $regular;
                            line-height: 20px;
                        }
                        .clearfix{
                            .date{
                                font-size: 14px;
                                font-weight: $regular;
                                line-height: 20px;
                                float: left;
                            }
                            .count{
                                font-size: 14px;
                                font-weight: $regular;
                                line-height: 20px;
                                float: right;
                            }
                        }
                    }
            }
            .column:hover{
                background-color: #f4213a;
                color: white;
                cursor: pointer;
            }
             
        }
    }
}
.contact{
    height: 670px;
    font-family:$openSans;
    background: url("../img/contact/Background.png") no-repeat;
    .container{
        .row{
            .column{
                margin: 0 auto;
                text-align: center;
                width: 630px;
                .img{
                    position: relative;
                    top:-4px;
                    margin-bottom:65px;
                }
                h2{
                    font-weight: $regular;
                    color:white;
                    font-size: 35px;
                    line-height: 50px;
                    letter-spacing: .025em;
                    margin-bottom: 20px;
                }
                p{
                    font-weight: $regular;
                    color:white;
                    font-size: 16px;
                    line-height: 30px;
                }
                form{
                    font-size:15px;
                    line-height: 30px;
                   .row-input{
                       width: 630px;
                        input{
                            display: block;
                            height: 50px;
                            width: 305px;
                            border-radius: 6px;
                            padding-left: 30px;
                        }
                        #email{
                            float: right;
                        }
                        #fullname{
                            float: left;
                        }
                    }
                    .message{
                        height: 210px;
                        width: 630px;
                        border-radius: 6px;
                        margin-top: 20px;
                        padding: 30px;
                        padding-top: 20px;
                    }
                    .button{
                        margin-top:16px;
                        .send-message{
                            display: block;
                            margin: 0 auto;
                            line-height: 52px;
                            height: 52px;
                            width: 166px;
                            text-transform: uppercase;
                            border:1px solid #fff;
                            text-decoration: none;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}
.footer{
    background-color: #42b549;
    font-family: $openSans;
    color:white;
    .container{
        height: 255px;
        .row{
            display: flex;
            padding-top: 42px;
            height: 255px;
            .block{
                padding: 0;
                width: 280px;
                font-size: 15px;
                line-height: 21px;
                h4{
                    font-weight: $bold;
                    margin-bottom: 28px;
                    font-size: 15px;
                    line-height: 21px;
                }
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                        a{
                            text-decoration: none;
                            font-weight: $regular;
                            color:white;
                        }
                    }
                }
            }
            .col-img{
                width: 21px;
                height: 21px;
            }
        }
    }
}